*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;            
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}

.container{
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(93, 93, 94);
    border-radius: 10px;
    background: white;       
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    padding: 30px;
}

h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
    color: black;
}

p{
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    color: black;
}

span{
    color: rgb(43, 87, 231);
    font-size: 25px;
}
