@font-face {
    font-family: "Lato-Bold";
    font-style: bold;
    font-weight: 700;
    src: local("Lato Bold"),
        local("Lato-Bold"),
        url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Regular";
    font-style: Regular;
    font-weight: 400;
    src: local("Lato Regular"),
        local("Lato-Regular"),
        url("../fonts/Lato-Regular.ttf") format("truetype");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F3E8DF;
    font-family:'Lato-Bold','Lato-Regular',sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 58px;
    margin-top: 212px;
}

.input-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
    font-family: 'Lato-Regular';
}

h2{
    font-family:'Lato-Bold';
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

#taskInput{
    width: 519px;
    height: 59px;
    border: none;
    padding: 16px 25px 15px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px #00000040;
    color:#A9A9A9;
    font-family:'Lato-Regular';
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

button{
    width: 143px;
    height: 59px;
    border: none;
    border-radius: 12px;
    background-color: #452829;
    box-shadow: 0px 2px 4px 0px #00000040;
    color: #ffff;
    font-family: 'Lato-Regular';
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

button:hover {
    background-color: #4a2f22;
    cursor: pointer;
}


.tasks-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 57px;
}

.task-item {
    display: flex;
    align-items: center;       
    justify-content: space-between;
    width: 689px;
    height: 84px;
    padding: 0 27px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px #00000040;
    position: relative;
}

.task-content {
    display: flex;
    align-items: center;
    gap: 16px;
}

.task-content span {
    font-size: 24px;
    color: #333333;
}

.task-item input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    font-family: 'Lato-Regular';
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.task-item span {
    flex-grow: 1;
    text-align: right;
}

.task-item .delete-btn {
    position: absolute;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 24px;
    color: #000000;
}

.task-item .delete-btn:hover {
    color: #333333;
}




